@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-trivia: 'Fredoka', sans-serif;
}

.preguntados-title {
  font-family: 'Fredoka', sans-serif;
  -webkit-text-stroke: 4px #0c2d7a; /* Contorno azul oscuro */
  color: white;
  text-shadow:
    0px 4px 0px #f72585,   /* rosa */
    0px 8px 0px #7209b7,   /* violeta */
    0px 12px 0px #3a0ca3,  /* azul más oscuro */
    0px 16px 0px #4361ee,  /* celeste */
    0px 20px 0px #4cc9f0;  /* celeste claro */;
}
